@page {
  margin: 0;
}

html {
  font-size: 15px;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

#main {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100vh;
}
