@page {
  margin: 0;
  size: portrait;
}

html {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

#main {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 100vh;
}

#resume aside {
  background-color: white !important;
}

a {
  color: black;
  text-decoration: none;
}

#projects {
  margin-top: 48rem !important;
}
