@charset "UTF-8";

* {
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    transform-origin: 0 0 0;
}
@media screen {
}

body {
    font-size: 1rem;
    margin: 0 auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    text-decoration-skip: ink;
    hyphens: auto;
    background-color: rgb(83, 86, 89);
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 4%;
  line-height: 2rem;
}

li:before {
  content: "-";
  padding-right: .5rem;
}

#main {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

#resume {
  background: white;
  width: 60rem;
  display: flex;
}

#resume .header-accent {
  width: 65px;
  height: .15rem;
  background: #d9b289;
  position: absolute;
  right: 0;
  top: 6px;
  margin: 20px 18px 0px 0px;
}

#resume .sub-topic span {
  display: block;
  margin-top: .5rem;
}

#resume .sub-topic {
  margin-left: 1rem;
  margin-top: 1rem;
}

#resume h5, #resume h6 {
  text-transform: uppercase;
}

/* aside */
#resume aside {
  min-width: 36%;
  background-color: #f5f5f5;
  border-right: .2rem solid #e4cca1;
}

#resume aside div {
  position: relative;
}

#resume aside > div {
  padding: .75rem 0 .75rem 1rem;
}

#resume aside .sub-topic span {
  font-weight: bold;
}

#resume aside .sub-topic ul {
  margin-top: .5rem;
}

#contact a {
  text-decoration: none;
}

#contact li > span {
  min-width: 1rem;
  margin-right: 0.5rem;
  text-align: center;
}

#contact li:before {
  content: none;
}

#technologies ul {
  line-height: 1.5rem;
}

#technologies .box-style {
  background-color: #afffeb;
  border: 0.01rem solid rgba(45, 45, 45, 0.1618);
  padding: .15rem 0;
  display: inline-block;
  border: .01rem solid #e4cca1;
}

#technologies .box-style span {
  padding: 0 .75rem;
}

#technologies .box-style span:not(:last-child) {
  border-right: .01rem solid #e4cca1;
}

#technologies li:before {
  content: none;
}

#technologies li {
  margin-bottom: .75rem;
}


/* Main Content */

#mainContent {
  width: 100%;
  margin: 1rem;
  position: relative;
}

#namePlate {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: .2rem solid #e4cca1;
  position: relative;
}

#mainContent .header-accent {
  right: unset;
  margin-top: 13px;
  top: 0;
  height: 0.2rem;
}

#proExp {
  position: absolute;
}

/* #proExp h5:first-of-type {
  position: relative;
  left: 8rem;
} */

.position-title {
  font-weight: bold;
}

#proExp li {
  font-size: .85rem;
}

#mainContent .sub-topic + .sub-topic{
  margin-top: 3rem;
}

/* #mainContent .header-accent + h5 {
  width: calc(100% - 6rem);
} */

#mainContent .header-accent + h5 {
  text-align: center;
}
