@charset "UTF-8";

* {
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    transform-origin: 0 0 0;
}

html {
  font-size: 15px;
}

body {
    font-size: 14px;
    margin: 0 auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    text-decoration-skip: ink;
    hyphens: auto;
    background-color: rgb(83, 86, 89);
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 4%;
  line-height: 2rem;
}

li:before {
  content: "-";
  padding-right: .5rem;
}

#main {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

#resume {
  background: white;
  width: 56rem;
  display: flex;
}

#resume .header-accent {
  width: 55px;
  height: .14rem;
  background: #e4cca1;
  position: absolute;
  right: 0;
  top: 6px;
  margin: 20px 18px 0px 0px;
}

#resume .sub-topic span {
  display: block;
  margin-top: .5rem;
}

#resume .sub-topic {
  margin-left: 1rem;
  margin-top: .75rem;
}

#resume h5, #resume h6 {
  text-transform: uppercase;
}

/* aside */
#resume aside {
  min-width: 36%;
  background-color: #f5f5f5;
  border-right: .2rem solid #e4cca1;
  padding: 2rem 0rem 2rem 1.5rem;
}

#resume aside div {
  position: relative;
}

#resume aside > div {
  padding: .5rem 0 .75rem 1rem;
}



#resume aside .sub-topic ul {
  margin-top: .5rem;
}

a {
  text-decoration: none;
}

#contact li > span {
  min-width: 1rem;
  margin-right: 0.5rem;
  text-align: center;
}

#contact li:before {
  content: none;
}

#technologies h5 {
  margin-bottom: 1rem;
}

#technologies ul {
  line-height: 1.5rem;
}

#technologies .box-style {
  background-color: #afffeb;
  border: 0.01rem solid rgba(45, 45, 45, 0.1618);
  padding: .15rem 0;
  display: inline-block;
  border: .01rem solid #e4cca1;
  font-size: .85rem;
}

#technologies .box-style span {
  padding: 0 .55rem;
}

#technologies .box-style span:not(:last-child) {
  border-right: .01rem solid #e4cca1;
}

#technologies li:before {
  content: none;
}

#technologies li {
  margin-bottom: .75rem;
}


/* Main Content */

#mainContent {
  width: 100%;
  margin: 1rem;
  position: relative;
  padding: 2rem 1.5rem 2rem 0rem;
}

#namePlate {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: .2rem solid #e4cca1;
  position: relative;
}

#mainContent .header-accent {
  right: unset;
  margin-top: 13px;
  top: 0;
}

#proExp {
  position: absolute;
  margin-top: 0.5rem;
  padding-right: 1.5rem;
}

#proExp > h5 {
  margin-bottom: .75rem;
}

#proExp ul {
  padding-left: 2%;
  line-height: 1.25rem;
}

.company-name {
  font-weight: bold;
  margin-bottom: .25rem !important;
}

.company-description {
  font-style: italic;
  font-size: 0.8rem;
  margin-top: 0 !important;
}

.position-technologies {
  font-style: italic;
  font-size: 0.9rem;
}

#proExp li {
  font-size: .85rem;
  margin-bottom: 0.25rem;
}

#mainContent .sub-topic + .sub-topic{
  margin-top: 1rem;
}

#mainContent .sub-topic p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#mainContent .sub-topic p:last-of-type {
  margin-bottom: 0.5rem;
}



#projects {
  position: absolute;
  margin-top: 50rem;
  padding-right: 1.5rem;
}

#mainContent #projects .header-accent + h5 {
  text-align: inherit;
}

#mainContent div > h5 {
  margin-left: 7rem;
}

#projects > h5 {
  margin-bottom: .75rem;
}

#projects ul {
  padding-left: 2%;
  line-height: 1.25rem;
}

#projects li {
  font-size: .85rem;
  margin-bottom: 0.5rem;
}
